.container {
    margin-right: 1em;
}

.navigation {
    display: block;
    font-size: 0.8em;

    button {
        display: block;
        background-color: black;
        color: blanchedalmond;
        border: blanchedalmond dashed 1px;
        text-align: left;
        width: 10em;
        margin: 1em;
        padding: 1em;
        cursor: pointer;

        &:hover {
            color: red;
            border-color: red;
        }
    }
}

.header {
    margin-bottom: 1em;

    .title {
        font-size: 2em;
    }
}

input.search-box {
    background-color: black;
    text-align: left;
    color: blanchedalmond;
    border: blanchedalmond dashed 1px;
    height: 3em;
    padding-left: 1em;

    &:active {
        color: red;
        outline: none;
        border: blanchedalmond dashed 1px;
    }

    &:focus {
        color: red;
        outline: none;
        border: blanchedalmond dashed 1px;
    }
}

.main-page {
    display: block;
    flex-grow: 1;

    .unknown-image {
        text-align: left;
    }

    .top-row {
        margin-bottom: 1em;
    }
}