<div class="container">
    <div class="navigation">
        <button *ngIf="hasData(body)" (click)="showMovies(body)">Body Horror</button>
        <button *ngIf="hasData(comedy)" (click)="showMovies(comedy)">Comedy Horror</button>
        <button *ngIf="hasData(folk)" (click)="showMovies(folk)">Folk Horror</button>
        <button *ngIf="hasData(found_footage)" (click)="showMovies(found_footage)">Found Footage Horror</button>
        <button *ngIf="hasData(gothic)" (click)="showMovies(gothic)">Gothic Horror</button>
        <button *ngIf="hasData(natural)" (click)="showMovies(natural)">Natural Horror</button>
        <button *ngIf="hasData(slasher)" (click)="showMovies(slasher)">Slasher Horror</button>
        <button *ngIf="hasData(teen)" (click)="showMovies(teen)">Teen Horror</button>
        <button *ngIf="hasData(psychological)" (click)="showMovies(psychological)">Psychological Horror</button>
    </div>
    <div class="main-page">
        <div class="column">
            <div class="top-row">
                <div class="header">
                    <div class="title">My Horror</div>
                </div>
                <input class="search-box" (keyup)="search($event)" [(ngModel)]="searchS" type="text" pInputText placeholder="Search"/>
            </div>
            <div class="front-page">
                <ng-container *ngIf="filteredMoviesIsEmpty()">
                    <div class="unknown-image"><img src="assets/img/unknown.png" /></div>
                    Welcome to the My Horror website. I built this to help me remember the horror movies I have 
                    seen. I LOVE horror movies, scifi, spychological movies etc. BUT I have trouble remembering 
                    what I saw. So I made this website to quickly help share what I have seen with friends : D
                </ng-container>
                <ng-container *ngIf="!filteredMoviesIsEmpty()">
                    <p-accordion>
                        <ng-container *ngFor="let filteredMovie of filteredMovies">
                            <app-movie [movie]="filteredMovie"></app-movie>
                        </ng-container>
                    </p-accordion>
                </ng-container>
            </div>
        </div>
    </div>
</div>
